In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('D:/diabetes_prediction_dataset.csv')
data

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [5]:
x=data[["bmi","blood_glucose_level"]]
x

         bmi  blood_glucose_level
0      25.19                  140
1      27.32                   80
2      27.32                  158
3      23.45                  155
4      20.14                  155
...      ...                  ...
99995  27.32                   90
99996  17.37                  100
99997  27.83                  155
99998  35.42                  100
99999  22.43                   90

[100000 rows x 2 columns]

In [6]:
y=data['diabetes']
y

0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Name: diabetes, Length: 100000, dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le=LabelEncoder()
y=le.fit_transform(y)
y

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=0)

In [11]:
x_test

         bmi  blood_glucose_level
3582   27.32                  140
60498  27.32                  100
53227  37.16                   85
21333  43.83                  160
3885   14.18                  155
...      ...                  ...
86308  27.32                   90
48870  27.32                  159
34940  27.32                  145
21964  25.58                  200
27631  21.68                  155

[30000 rows x 2 columns]

In [12]:
y_test

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [13]:
from sklearn.ensemble import RandomForestClassifier

In [14]:
rf=RandomForestClassifier()
model=rf.fit(x_train,y_train)
y_prediction=model.predict(x_test)
y_prediction

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [16]:
from sklearn.metrics import accuracy_score, classification_report

In [17]:
print("\nRandom Forest Classifier:")
print("Accuracy Score",accuracy_score(y_test,y_prediction))
print("Classification Report:")
print(classification_report(y_test,y_prediction))

Random Forest Classifier:
Accuracy Score 0.9296666666666666
Classification Report:
              precision    recall  f1-score   support

           0       0.95      0.97      0.96     27461
           1       0.62      0.44      0.51      2539

    accuracy                           0.93     30000
   macro avg       0.78      0.71      0.74     30000
weighted avg       0.92      0.93      0.92     30000

In [21]:
from sklearn.neighbors import KNeighborsClassifier

In [22]:
knn=KNeighborsClassifier()
model1=knn.fit(x_train,y_train)
y_prediction1 = model1.predict(x_test)
y_prediction1

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [23]:
print("K-Nearest Neighbors Classifier:")
print("Accuracy Score:",accuracy_score(y_test, y_prediction1))
print("Classification Report:")
print(classification_report(y_test, y_prediction1))

K-Nearest Neighbors Classifier:
Accuracy Score: 0.9430666666666667
Classification Report:
              precision    recall  f1-score   support

           0       0.95      0.99      0.97     27461
           1       0.84      0.40      0.55      2539

    accuracy                           0.94     30000
   macro avg       0.89      0.70      0.76     30000
weighted avg       0.94      0.94      0.93     30000

In [24]:
from sklearn.ensemble import AdaBoostClassifier

In [25]:
abc=AdaBoostClassifier()
model2=abc.fit(x_train,y_train)
y_prediction2 = model2.predict(x_test)
y_prediction2

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [26]:
print("AdaBoosting Classifier:")
print("Accuracy Score:",accuracy_score(y_test, y_prediction2))
print("Classification Report:")
print(classification_report(y_test, y_prediction2))

AdaBoosting Classifier:
Accuracy Score: 0.9481333333333334
Classification Report:
              precision    recall  f1-score   support

           0       0.95      1.00      0.97     27461
           1       1.00      0.39      0.56      2539

    accuracy                           0.95     30000
   macro avg       0.97      0.69      0.77     30000
weighted avg       0.95      0.95      0.94     30000

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
lr=LinearRegression()
model3=lr.fit(x_train,y_train)
y_prediction3=model3.predict(x_test)
y_prediction3

array([ 0.09044882, -0.02047424,  0.01116758, ...,  0.1043142 ,
        0.24388278,  0.09006711])

In [30]:
from sklearn.tree import DecisionTreeClassifier

In [31]:
dtc=DecisionTreeClassifier()
model4=dtc.fit(x_train,y_train)
y_prediction4 = model4.predict(x_test)
y_prediction4

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [32]:
print("DecisionTree Classifier:")
print("Accuracy Score:",accuracy_score(y_test, y_prediction4))
print("Classification Report:")
print(classification_report(y_test, y_prediction4))

DecisionTree Classifier:
Accuracy Score: 0.9325666666666667
Classification Report:
              precision    recall  f1-score   support

           0       0.95      0.98      0.96     27461
           1       0.65      0.44      0.52      2539

    accuracy                           0.93     30000
   macro avg       0.80      0.71      0.74     30000
weighted avg       0.92      0.93      0.93     30000